@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
body{font-family: 'Outfit', sans-serif;padding: 0;margin: 0;}
a,a:visited{
    text-decoration: none;
}
table,.box{
	width: 80%;
	margin: auto;
	border:1px solid #ccc;
	border-radius: 20px;
	box-shadow: 0px 0px 6px #ccc;
	table-layout: fixed;
}
td,th{
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: center;
}
table :last-child >:last-child > td{
	border:none;
}
button{
	font-family: 'Outfit', sans-serif;
	padding: 10px;
	color:#666;
	background: none;
	border:1px solid #ddd;
	border-radius: 5px;
}
button:hover{
	background: #eee;
}
input{
	padding: 10px;
	color:#666;
	background: none;
	border:1px solid #ddd;
	border-radius: 5px;
}
.tpsp{
	height: 9%;
}
.nvbar{
	display: block;
	position: fixed;
	top: 0;
	box-shadow: 0px 0px 6px #aaa;
  	width: 100%;
	background: #eee;
}
.lfnv,.rgnv{
	display: inline-block;
	width: 50%;
	padding:10px;
	box-sizing: border-box;
	/*line-height: 50px;*/
	/*background: #eee;*/
}
.lfnv{
	font-weight: 600;
	padding-left: 20px;
}
.lfnv .a{
	text-decoration: none;
	color: #000;
}
.rgnv{
	text-align: right;
}
.nvbar button{
border:none;
}
.nvbar button:hover{
background:#aaa;
color: #fff;
}